


  h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
  }

  /* FORM */

  .form{
    background-image: url(pictures/feedback-bg.jpg);
    
  }

  form {
    width: 100%;
    height: 600px;
    margin-left: 195px;
  }

  p{
    font-family: 'Courier New', Courier, monospace;
    margin: 30px 200px;
    padding-right: 200px;
  }

  input[type="submit"]{
    margin-left:200px;
    width: 55%;
    text-align: center;
    position: fixed;
  }

  input[type="submit"]:hover{
    cursor: pointer;
    color: white;
    background-color: black;
    border: none;
  }

  input[type="text"],input[type="email"],textarea{
    width: 100%;
  }
