html{
    font-size: 62.5%;
}

.heading{font-size: 3rem;
    color: rgb(248, 0, 0);
    margin-top: 8.5rem;}
.DISC{font-style: italic;
    margin-top: 0.1rem;}
.REVIEWCONTAINER{display: flex;
                   margin: auto}
.FIRSTREVIEW{margin: 1rem;
    background-color:rgb(190, 190, 189);
    height: 50rem;
    width: 90rem;}
.CUSTOMERNAME{font-style: italic;
color: red;
font-weight: bold;
text-align: center;
font-size: 2rem;
margin-top: 2rem;}
.CUSTOMERLOCATION{text-align: center;}
.REVIEWTEXT{font-size: 2.5rem;
color: rgb(82, 80, 80);
font-family: 'Source Sans Pro', sans-serif;
margin-top: 5rem;
text-align: center;}
img{border-radius: 50%;
margin-top: 2rem;
margin-left: auto ;
margin-right: auto;
display: block;}
.navbar{background-color: rgb(165, 161, 158);
padding: 1rem; overflow: auto; }
.navbar a{text-decoration: none;
float: right;
color: black; padding: 10px;
font-size: 1.5rem;}
#sign{float: left;}
.navbar a:hover{cursor: pointer;
background-color: rgba(216, 210, 210, 0.575)}
.footer a{
    display: block;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none; /*removing underline*/
    padding: 1rem 2rem;
    float: left;
    font-size: 1.6rem;}
  
.copyright{
    float: right;}

