*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
}

*{
    box-sizing: border-box;
}
.background{
    background-image: url(pictures/searchbg.jpg);
}
/*search bar*/
input{
    margin: 140px 2px;
    width: 40%;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    padding-left: 20px;

    background-color: rgba(243, 236, 236, 0.938);
    /* border:white; */
}
input:hover{
    transform: scale(1.04);
}

.icon{
    position: relative;
    top:4px;
    border-radius: 5px;
    border: none;
}

/* food items */

.box{
    margin: 40px;
    padding: 10px 40px;
    background-color: lightgray;
    border-radius: 8px;
}

.heading{
    text-align: center;
    font-size: 20px;
}

.column{
    background-color: rgba(129, 119, 119, 0.13);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.55);
    border-radius: 7px;
    padding: 15px;
    margin:  20px 15px;
    width: 25%;
}
.column:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    transform: scale(1.07);
}
.row{
    display: flex;
    justify-content: left;
    margin: 10px;  
}
.noimage{
    position: relative;
    top: 135px;
}

.order{
    width: 100%;
    height: 30px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(128, 128, 128, 0.24);
    border: none;
    transition: background 0.1s;
}

button:hover{
    cursor: pointer;
    border: none;
    background-color: rgba(245, 245, 245, 0.274);
    transform: scale(1.04);
}

nav a,footer a{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    padding: 10px 30px;
}
nav, footer{
    background: rgba(226, 224, 224, 0.5);
}
nav{
   display: flex; 
   justify-content: space-around;
}
nav a:hover,footer a:hover{
    color: gray;
}

footer div{
    display: flex;
    justify-content: space-between;
}