*{
    box-sizing: border-box;
    list-style: none;
 }

 /*for leaving no margings*/
 body{
     margin: 0px;
 }

 /*CSS on Header*/
 header{
     padding: 1px;
     text-align: center;
     background-color:rgb(189, 188, 188);
     /*white background*/
     color: black;
     /*text colour*/
     font-family: 'Heebo', sans-serif;;
     font-size: 9px;
 }

nav{
    overflow: hidden;
}

nav a{
    display: block;
    color: white;
    font-family: 'Heebo', sans-serif;
    text-decoration: none; /*removing underline*/
    padding: 10px 20px;
    float: right;s
    font-size: 17px;
}

#signin{
  float: left;
}

nav a:hover{
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.61);
}

/*Hero-Image*/
  .hero-image {
    background-image:  url(pictures/hero-image.jpg);
    height:700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }


footer a{
  display: block;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none; /*removing underline*/
  padding: 10px 20px;
  float: left;
  font-size: 16px;
}

.copyright{
  float: right;
}