.container1{
    background: linear-gradient(to right, black,red,black);
    display: flex;
    justify-content: space-between;
    border-radius: 7PX;
}
.hover1:hover{
    color: whitesmoke;
    
}
.hover2:hover{
    background-color: black;
    color: red;
}
.container2{
    background: linear-gradient(to right, black,red,black);
    border-radius: 7px;


}
.BAR{
    background: linear-gradient(to right, black,red,black);
    display: flex;
    justify-content: space-around;
    font-weight: bolder;
    
}
.m{
    text-decoration: none;
    font-family: cursive;
    font-size: 25px;
    color:whitesmoke;
}
.f{
    font-size: 50px;
    color: whitesmoke;
}
.s{
    font-size: 25px;
}
.h{
    font-size: 40px;
    color: whitesmoke;
}
footer{
    width: 100%;
    bottom: 0;
    background: linear-gradient( to right,red, black);
    color: #fff;
    border-top-left-radius: 100px;
    font-size: 13px;
}
.row{
    width: 85%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

    

.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
}


 ul li a{
    text-decoration: none;
    color: aliceblue;
}
form{
    margin-bottom: 20px;
}
button{
    background: linear-gradient(to right, black,red);
    font-weight: bold;
    color: aliceblue;
    border-radius: 5px;
}


.photo{
    border: 5px solid black;
}


.p:hover{
    background: linear-gradient(to right,red,black);
}



















   

