*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
}

*{
    box-sizing: border-box;
}
.background{
    background-image: url(pictures/searchbg.jpg);
}
/*search bar*/
input{
    margin: 140px 0px;
    width: 40%;
    height: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    background-color: rgba(243, 236, 236, 0.938);
    /* border:white; */
}

/* food items */

.box{
    margin: 40px;
    padding: 10px 40px;
    background-color: lightgray;
    border-radius: 10px;
}
/* .container{
    float: inline-end;
} */

.heading{
    text-align: center;
    font-size: 20px;
}

.column{
    background-color: rgba(129, 119, 119, 0.13);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.733);
    border-radius: 7px;
    padding: 15px;
    margin: 20px;
    width: 25%;
}

.row{
    display: flex;
    justify-content: left;
    margin: 10px;  
}

.order{
    width: 100%;
    height: 30px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(128, 128, 128, 0.24);
    border: none;
}

button:hover{
    cursor: pointer;
    border: none;
    color: black;
    background-color: rgba(245, 245, 245, 0.274);
}

